.signInCon{
  width:300px;
  margin:0 auto;
  margin-top:200px;
}
.signInCon .siginInHeadingIcon{
  background-color: #f44336;
}

.RIcon{
  background-color: #f44336!important;
}

.signInCon .siginSubmit{
  margin: 10px auto;
}

.paddingH{
  padding:20px;
}
 
.paddingT{
  padding:40px 10px;
}

.input-range__label{
  font-family: inherit!important;
}




.axis .tick text{
  fill: rgba(0, 0, 0, 0.54);
}

.axis path ,.axis line{
  stroke: rgba(212, 208, 208, 0.54);
}
.axis path {
  stroke: transparent;
}

.iconCard h3{
  color:#7b7a7a!important;
  font-weight: normal;
}



.popover{
  background:#fff;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  min-width: 100px;
}

.popover-header{
  font-size:14px;
  padding:5px 10px;
  margin:0px;
  background: #f6f6f6;
}

.popover-body{
  font-size:12px;
  padding:5px 10px;
  margin:0px;
  
}

.trashIcon{
  position: absolute;
  right:0;
  color:#b3b3b3;
  cursor: pointer;
}
.trashIcon:hover, .editIcon:hover{
  color:#000;
}
.editIcon{
  position: absolute;
  right:30px;
  color:#b3b3b3;
  cursor: pointer;
}
.formFullWidth{
  width:100%
}


.subHeading{
  width:100%;
  background:#fff;
  padding:10px;
  -webkit-box-shadow: 2px 5px 8px -7px rgba(18,17,18,0.76);
  -moz-box-shadow: 2px 5px 8px -7px rgba(18,17,18,0.76);
  box-shadow: 2px 5px 8px -7px rgba(18,17,18,0.76);
   margin-bottom: 5px;
}
.mainContent{
  width: 100%!important;
  margin:0 !important;
}
.subHeading .title{
  display: inline;
  vertical-align: middle;
  
}
.dashboard{
  color:rgb(1, 184, 170);
}
.talentRecord{
	margin-bottom:10px;
}
.progress{
  width:100%;
}

.legend{
  border-top:1px soild #b3b3b3;
}

.legend .legendItem{
  display:inline-block;
}
.legend .legendItem .legendIcon{
  width:15px;
  height:15px;
  float: left;
  margin:5px;
  border-radius: 10px;
}
.legend .legendItem .legendText{
  float: left;
  margin-top:3px;
}

.main{
  position: relative;
  overflow: auto;
  height:100%;
  transition: all .15s;
  background: #f6f6f6;
}

.sideBar{
  -webkit-box-shadow: 2px 1px 4px -3px rgba(18,17,18,0.76);
  -moz-box-shadow: 2px 1px 4px -3px rgba(18,17,18,0.76);
  box-shadow: 2px 1px 4px -3px rgba(18,17,18,0.76);
  background: #fff;
  margin-top:64px;
 }
 
 @media only screen and (max-width: 600px) {
  .sideBar{
    margin-top:50px!important;
   }
}

.sidenav---icon-bar---u1f02{
  background-color:rgba(0, 0, 0, 0.87) !important;
}
.sideBar svg{ 
  color:rgba(0, 0, 0, 0.87) !important;
}

 .sidenav---navtext---1AE_f{ 
  color:rgba(0, 0, 0, 0.87) !important;
  }
.sidenav---navitem---9uL5T:hover{
  background: #f6f6f6 !important;
}

.subHeading .dropdown button,.subHeading .dropdown button.active,.subHeading .dropdown button.focus,.subHeading .dropdown button:hover{
  background: #fff!important;
  color:rgba(0, 0, 0, 0.87) !important;
  border: 1px solid #cecece !important;
  padding: 2px 5px !important;
  border-radius: 0!important;
  box-shadow: none!important;
}
.dropdown-menu{
  border-radius: 0!important;
  box-shadow: 2px 5px 8px -7px rgba(18,17,18,0.76);
}
.subHeading .dropdown{
margin-left:10px;
}



#progress {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #fdba2c;
  z-index: 999999999;
}
#progress .bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
#progress .bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
#progress .bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
#progress .bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}

.success{
  width: 240px;
  margin: 5% auto;
}

.modalBody{
  background: #fff;
  padding: 15px;
  position: absolute;
  top: 10%;
  left: calc(50% - 120px);
  width: 400px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.headerSetting{
  position: absolute!important;
  right:10px;
  
}

.headerSetting .avatar{ 
  cursor: pointer;
}
.headerSetting .avatar:hover{ 
  background-color: rgba(255, 255, 255, 0.15);
}
.headerSetting button{
  background:transparent!important;
  border-color:transparent!important;
}