.signInCon{
  width:300px;
  margin:0 auto;
  margin-top:200px;
}
.signInCon .siginInHeadingIcon{
  background-color: #f44336;
}

.RIcon{
  background-color: #f44336!important;
}


.signInCon .siginSubmit{
  margin: 10px auto;
}


.paddingH{
  padding:40px;
}
 
.paddingT{
  padding:40px 10px;
}

.input-range__label{
  font-family: inherit!important;
}

