body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.talentRecord{
	margin-bottom:10px;
}
.progress{
  width:100%;
}

.legend{
  border-top:1px soild #b3b3b3;
}

.legend .legendItem{
  display:inline-block;
}
.legend .legendItem .legendIcon{
  width:15px;
  height:15px;
  float: left;
  margin:5px;
  border-radius: 10px;
}
.legend .legendItem .legendText{
  float: left;
  margin-top:3px;
}